<div class="addTask">
  <form>
    <input
      type="text"
      id="title"
      name="title"
      placeholder="title"
      [(ngModel)]="item.title"
    />
    <input
      type="text"
      id="desc"
      name="desc"
      placeholder="desc"
      [(ngModel)]="item.desc"
    />
    <button
      type="button"
      (click)="onAddTask()"
      (click)="validateForm(item.title, item.desc)"
    >
      Add
    </button>
  </form>
  <div>
    <span class="errorMessage">{{ errorMessage }}</span>
  </div>
</div>
