<!-- <ng-container *ngTemplateOutlet="formButtonConfig['text']"></ng-container> -->

<!-- Add task / Submit updated task -->
<!-- <ng-template> -->
<div class="addTask">
  <form>
    <input
      type="text"
      id="title"
      name="title"
      placeholder="title"
      [(ngModel)]="item.title"
    />
    <input
      type="text"
      id="desc"
      name="desc"
      placeholder="desc"
      [(ngModel)]="item.desc"
    />
    <button type="button" (click)="onFormSubmit()">
      {{ formButtonConfig.text }}
    </button>
  </form>
</div>
<!-- </ng-template> -->
