<ng-container
  *ngTemplateOutlet="addButtonConfig['text'] ? update : add"
></ng-container>

<!-- Add task -->
<ng-template #add>
  <div class="addTask">
    <form>
      <input
        type="text"
        id="title"
        name="title"
        placeholder="title"
        [(ngModel)]="item.title"
      />
      <input
        type="text"
        id="desc"
        name="desc"
        placeholder="desc"
        [(ngModel)]="item.desc"
      />
      <button
        type="button"
        (click)="onAddTask()"
        (click)="validateForm(item.id, item.title, item.desc)"
      >
        {{ addButtonConfig.text }}
      </button>
    </form>
    <div>
      <span class="errorMessage">{{ errorMessage }}</span>
    </div>
  </div>
</ng-template>

<!-- submit updated task -->
<ng-template #update>
  <div class="addTask">
    <form>
      <input
        type="text"
        id="title"
        name="title"
        placeholder="title"
        [(ngModel)]="item.title"
      />
      <input
        type="text"
        id="desc"
        name="desc"
        placeholder="desc"
        [(ngModel)]="item.desc"
      />
      <button type="button" (click)="onSubmitUpdatedTask()">
        {{ addButtonConfig.text }}
      </button>
    </form>
  </div>
</ng-template>
