<div class="container">
  <h1>To-do List</h1>
  <app-add-task
    [formButtonConfig]="addTaskButtonConfig"
    [item]="task"
    (itemAddChange)="addTask($event)"
  ></app-add-task>
  <!-- <a routerLink="/tasks">Tasks</a> -->
  <div class="taskList">
    <ul *ngFor="let taskItem of tasks">
      <li (click)="onSelectTask(taskItem)">
        <app-task-list-item
          [item]="taskItem"
          (itemRemove)="removeTask($event)"
          (itemEdit)="editTask($event)"
          (getItems)="getItems()"
        ></app-task-list-item>
      </li>
    </ul>
  </div>
</div>

<div>
  <form>
    <input
      type="text"
      name="title"
      required
      minlength="3"
      [(ngModel)]="titleInput"
      #title="ngModel"
    />
    <div *ngIf="title.invalid && (title.dirty || title.touched)">
      <div *ngIf="title.errors?.['required']">Title is required.</div>
      <div *ngIf="title.errors?.['minlength']">
        Title must be at least 3 characters long.
      </div>
    </div>
  </form>
</div>
